rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionCode} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;

      match /rounds/{roundId} {
        allow read: if true;
        allow write: if true;

        match /questions/{questionId} {
          allow read: if true;
          allow write: if true;

          match /shards/{shardId} {
            allow read: if true;
            allow write: if true;
          }

          match /votes/{voterToken} {
            allow create: if true;
            allow read: if true;
            allow update, delete: if false;
          }
        }
      }

      match /presence/{voterToken} {
        allow read, write: if true;
      }
    }
  }
}
