rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionCode} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;

      match /rounds/{roundId} {
        allow read: if true;
        allow write: if true;

        match /votes/{voteId} {
          allow create: if true;
          allow read, update, delete: if false;
        }
      }
    }
  }
}

